body.container-fluid{
	padding-top: 5px
}
table tr:hover{
	cursor: pointer;
}
.form-group.pull-right{
	padding-right: 5px
}
.help-block{
	color: red;
}
#pageNum{
	width: 70px;
}
#deviceID,#password{
	width: 80%;
}
@media print {
	* {
		width: 100% !important;
		height: auto !important;
		margin: 0px !important;
		padding: 0px !important;
		box-shadow: none !important;
		border-radius: 0px !important;
		border: none !important;
		background-color: none !important;
		background-clip: none !important;
		overflow-x: visible !important;
		overflow-y: visible !important;
		overflow: visible !important;
		transform: none !imporant;
	}

	div.panel-primary, div.modal-header, nav.form-inline, hr {
		display: none !important;
	}

	canvas#pdf {
		display: block !important;
	}
}