<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Reports Browser</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script type="text/javascript" src="js/angular.js"></script>
    <script type="text/javascript" src="js/angular-pdf.js"></script>
    <script type="text/javascript" src="build/pdf.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
	<script type="text/javascript" src="js/angular/services.js"></script>
	<script type="text/javascript" src="js/angular/controllers.js"></script>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body ng-app="app" ng-controller="appCtrl" class="container-fluid" ng-cloak ng-init="prompt()">

	<div class="panel panel-primary" ng-show="valid_input">
		<div class="panel-heading text-center"><b>Reports Browser</b></div>
		<div class="panel-body">
			<div ng-hide="filesLoaded" >
				<h1>Reports Loading</h1>
				<center>
					<img src="images/spinner.gif">
				</center>
			</div>
			<div class="row" ng-show="filesLoaded">
				<table class="table table-striped table-hover">
					<thead>
						<tr>
							<th>
								<a href="#" ng-click="sortReverse = !sortReverse; sortType='Filename'">
									Name
						            <span ng-show="sortType == 'Filename' && !sortReverse" class="fa fa-caret-down"></span>
						            <span ng-show="sortType == 'Filename' && sortReverse" class="fa fa-caret-up"></span>
								</a>
							</th>
							<th>
								<a href="#" ng-click="sortReverse = !sortReverse; sortType='Size'">
									Size
						            <span ng-show="sortType == 'Size' && !sortReverse" class="fa fa-caret-down"></span>
						            <span ng-show="sortType == 'Size' && sortReverse" class="fa fa-caret-up"></span>
								</a>
							</th>
							<th>
								<a href="#" ng-click="sortReverse = !sortReverse; sortType='MIMEType'">
									Type
						            <span ng-show="sortType == 'MIMEType' && !sortReverse" class="fa fa-caret-down"></span>
						            <span ng-show="sortType == 'MIMEType' && sortReverse" class="fa fa-caret-up"></span>
								</a>
							</th>
							<th>
								<a href="#" ng-click="sortReverse = !sortReverse; sortType='Created'">
									Created At
						            <span ng-show="sortType == 'Created' && !sortReverse" class="fa fa-caret-down"></span>
						            <span ng-show="sortType == 'Created' && sortReverse" class="fa fa-caret-up"></span>
								</a>
							</th>
							<th>
								<a href="#" ng-click="sortReverse = !sortReverse; sortType='Downloaded'">
									Received by AEG
						            <span ng-show="sortType == 'Downloaded' && !sortReverse" class="fa fa-caret-down"></span>
						            <span ng-show="sortType == 'Downloaded' && sortReverse" class="fa fa-caret-up"></span>
								</a>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="file in files | orderBy:sortType:sortReverse" ng-click="viewFile(file);">
							<td><b>{{file.Filename}}</b></td>
							<td><b>{{file.Size/1024|number}}KB</b></td>
							<td><b>{{file.Filename.split('.')[1]|uppercase}}</b></td>
							
							<td><b>{{file.Created*1000 | date:'dd-MM-yyyy HH:mm:ss'}}</b></td>
							<td>
								<b ng-if="file.Downloaded != 0">{{file.Downloaded*1000 | date:'dd-MM-yyyy HH:mm:ss'}}</b>
								<b ng-if="file.Downloaded == 0">Pending</b>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<div class="modal fade" id="fileModal" role="dialog">
	    <div class="modal-dialog modal-lg">
	      <div class="modal-content">
	        <div class="modal-header">
	          <button type="button" class="close" data-dismiss="modal">&times;</button>
	          <h4 class="modal-title text-center"><strong>{{selectedFile.Filename}}</strong></h4>
	        </div>
	        <div class="modal-body">
	        	<center><img src="images/spinner.gif" class="img-responsive" ng-show="isLoading" ></center>
	        	<ng-pdf template-url="/viewer.html" scale="page-fit" canvasid="pdf" ng-hide="isLoading || isImage "></ng-pdf>
	        	<div ng-show="isImage && !isLoading">
	        		<center>
	        			<button class="btn" ng-click="print()"><b>Print</b></button>
	        			<img ng-src="{{imageSource}}" class="img-responsive" id="image">
	        		</center>
	        		
	        	</div>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
	<div class="modal fade" id="promptModal" role="dialog" >
	    <div class="modal-dialog">
	      <div class="modal-content">
	        <div class="modal-header">
	          <h4 class="modal-title text-center"><strong>Please enter the serial number on the back of your tool</strong></h4>
	        </div>
	        <div class="modal-body">
	        	<center>
	        		<div class="form-group form-inline form-horizontal">
		        		<input type="number" class="form-control" ng-model="deviceID" id="deviceID" autofocus>
		        		<button class="btn btn-success" ng-click="checkAccount()"><b>OK</b></button>
		        	</div>
	        	</center>
	        </div>
	      </div>
	    </div>
	  </div>
	<div class="modal fade" id="loginModal" role="dialog" >
	    <div class="modal-dialog">
	      <div class="modal-content">
	        <div class="modal-header">
	          <h4 class="modal-title text-center"><strong>{{passwordPopup}}</strong></h4>
	        </div>
	        <div class="modal-body">
	        	<center>
	        		<div class="form-group form-inline form-horizontal">

		        		<input type="password" placeholder="Password" class="form-control" ng-model="password" id="password">
		        		<button class="btn btn-success" ng-click="login(password)"><b>OK</b></button>
		        		<span class="help-block" ng-show="error"><b>That's not the right password, please try again or contact the help and support to reset it</b></span>
		        	</div>
	        	</center>
	        </div>
	      </div>
	    </div>
	  </div>
<!--
	<div class="modal fade" id="registerModal" role="dialog" >
	    <div class="modal-dialog">
	      <div class="modal-content">
	        <div class="modal-header">
	          <h4 class="modal-title text-center"><strong>Please enter new credentials for your account</strong></h4>
	        </div>
	        <div class="modal-body">
        		  <form ng-submit="register()">
				    <div class="form-group">
				      <label for="email">Email:</label>
				      <input type="email" class="form-control" ng-model="newUser.email" placeholder="Enter email" required>
				    </div>
				    <div class="form-group">
				      <label for="pwd">Password:</label>
				      <input type="password" class="form-control" ng-model="newUser.password" placeholder="Enter password" required>
				    </div>
				    <button type="submit" class="btn btn-default"><b>Submit</b></button>
				  </form>
	        </div>
	      </div>
	    </div>
	  </div>
	  -->
	</div>
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/bootstrap.js"></script>
</body>
</html>