<nav ng-class="getNavStyle(scroll)" class="form-inline form-horizontal">
  <button ng-click="goPrevious()" title="Previous" class="btn"><b>&laquo;</b></button>
  
    <label><b>Page:</b> </label>
    <input type="text" ng-model="pageNum" class="form-control" id="pageNum">
    <label><b>/ {{pageCount}}</b></label>

  <button ng-click="goNext()" title="Next" class="btn"><b>&raquo;</b></span></button>

  <button ng-click="zoomIn()" title="Zoom in" class="btn"><b>+</b></span></button>
  <button ng-click="fit()" title="fit" class="btn"><b>100%</b></span></button>
  <button ng-click="zoomOut()" title="Zoom out" class="btn"><b>-</b></span></button>
  <button ng-click="print()" title="Print" class="btn"><b>Print</b></span></button>

  
</nav>
<hr>
<canvas id="pdf"></canvas>